<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" monitorInterval="5">
    <Properties>
        <Property name="consoleLayout">[%d{yyyy-MM-dd HH:mm:ss}] [%-5p] [%c{1}:%L] - %m%n</Property>
        <Property name="fileLayout">%d [%t] %-5level %c(%M:%L) - %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${consoleLayout}" />
        </Console>

        <RollingFile name="file"
                     fileName="logs/log.log"
                     filePattern="logs/log-%d{yyyy-MM-dd-HH}">
            <PatternLayout pattern="${fileLayout}" />
            <LevelRangeFilter minLevel="ERROR" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <TimeBasedTriggeringPolicy
                        modulate="true"
                        interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="5" fileIndex="min" >
                <Delete basePath="/logs" maxDepth="3">
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="daily_error"
                     fileName="logs/error/error.log"
                     filePattern="logs/error/error-%d{yyyy-MM-dd}">
            <PatternLayout pattern="${fileLayout}" />
            <LevelRangeFilter minLevel="ERROR" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB" />
            </Policies>
            <DefaultRolloverstrategy>
                <Delete basePath="/logs" maxDepth="3">
                    <IfLastModified age="10d" />
                </Delete>
            </DefaultRolloverstrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="com.chwan.ecs" level="info" additivity="false" >
            <AppenderRef ref="console" />
            <AppenderRef ref="file" />
            <AppenderRef ref="daily_error" />
        </logger>

        <Root level="info">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>